html,
body {
  background-color: #FFF;
}

input:focus-visible {
  outline: none !important;
}

.notion {
  font-family: Georgia !important;
  @apply !leading-relaxed !text-[16px] lg:(!text-[20px] !leading-relaxed);
}

.notion-page {
  @apply !px-0;
}

.notion-h-title {
  font-family: 'Inter', Helvetica !important;
}

.notion-code-copy {
  @apply hidden;
}