---
import LayoutHome from '@layouts/Home.astro'

let title = 'Home';
let description = 'The perfect starter for your perfect website.';
let permalink = 'https://astro-boilerplate.vercel.app/';
---
<LayoutHome content={{ title, description, permalink }}>
  <div>
    DefaultPageLayout works!
  </div>
</LayoutHome>
